* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(/img/augustine-wong-LfU6_b3Oj4E-unsplash.jpg);
  color: #000000;
  line-height: 1.5;
}
/* FORM */
.search-form {
  display: flex;
  margin-bottom: 50px;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  text-align: center;
  height: 32px;
  display: block;
  background-color: hsl(0, 0%, 22%);
}
/* BUTTON LOAD_MORE */
.load-more {
  /* visibility: hidden; */
  margin: 0 auto;
  display: block;
  background-color: hsl(0, 0%, 59%);
}
.load-more.is-hidden {
  display: none;
}
.button {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.button.is-hidden {
  display: none;
}
.button > .spinner.is-hidden {
  display: none;
}
/* INPUT */
.search-box {
}

/* DIV GALLERY */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  padding: 10px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
/* DIV__CARD */
.photo-card {
  /* Блок картинки */
  /* width: 100%;
  height: 100%;
  display: flex; */
  /* justify-content: center;
  align-items: center; */

  overflow: hidden;
  /* box-shadow: inset -10px -10px 15px rgba(209, 209, 209, 0.5),
    inset 10px 10px 15px rgba(175, 175, 175, 0.12); */
  box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5),
    10px 10px 15px rgba(70, 70, 70, 0.12);
  border-radius: 5px 5px 5px 5px;
  border: 1px solid #211221;
}
.photo-card-change {
  /* width: 300px; */
  height: 300px;
  position: relative;
  perspective: 1000px;
  border: 1px solid #d68360; /* Рамка */
}

.photo-card-change :hover .photo-image {
  transform: rotateY(180deg);
}
.photo-card-change :hover .photo-image {
  transform: rotateY(360deg);
}
/* LINK */
.photo-link {
  text-decoration: none;
  color: #2a2a2a;
}

/* IMAGE */
.photo-image {
  display: block;
  width: 100%;
  height: 200px;
  object-fit: cover;
}
/* Стороны изображения */
.photo-image {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
  back-side-imgface-visibility: hidden;
}

.photo-image img {
  max-width: 100%;
  min-width: 100%;
  height: auto;
}

/* LI__ */
.info {
  display: flex;
  text-align: center;
  background-color: #ffffff;
}
.info-item {
  font-size: 14px;
}
